/* screen total da pagina de medications */
#page-drugs {
  width: 100vm;
  height: 100vh;
  position: relative;
  display: flex;
}

.menu-icon {
  position: fixed;
  width: 3rem;
  left: 0;
  bottom: 0.5rem;
  z-index: 1000;
}

/* SIDE BAR */

aside {
  width: 25rem;
  height: 100vh;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  padding: 10px 0 0 25px;
  position: fixed;
  top: 0;
  left: -35rem;
  z-index: 1500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 600ms;
}

aside.active {
  left: 0;
}

/* HEADER */

aside .header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  align-content: space-around;
  width: 350px;
  height: 350px;
}

aside .header img {
  width: 70px;
  height: auto;
  align-self: center;
}

/* FOOTER */

aside footer {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  justify-content: space-between;
}

aside footer .greetings {
  display: flex;
  flex-direction: column;
  color: #fff;
}

aside footer img {
  width: 100px;
  height: auto;
  padding-bottom: 10px;
}
.table-container {
  width: auto;
  display: flex;
  position: relative;
  margin: auto;
}

.whatsApp-icon {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.whatsApp-icon:hover {
  width: 175px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.whatsApp-icon:hover::after {
  content: "Solicitar ajuda";
  color: #fff;
  font-weight: 600;
}

.whatsApp {
  color: #fff;
}

/* SCREEN QUERIES */

@media (min-width: 1350px) {
  .close {
    display: none;
  }
  aside {
    width: 25rem;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    padding: 10px 0 0 25px;
    position: initial;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  aside {
    width: auto;
    padding: 10px;
  }

  aside .header img {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 360px) {
  aside {
    width: auto;
    padding: 10px;
  }

  aside .header img {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 300px) {
  aside {
    width: 270px;
  }

  aside .header {
    width: 270px;
  }

  aside .header img {
    width: 50px;
    height: auto;
  }
}
